.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.formEnchere {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
}

.labelEnchereForm {
  font-weight: bold;
  margin-bottom: 5px;
}

#article {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  color: #555;
  margin-top: 5px;
}

#description {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  color: #555;
  margin-top: 5px;
}

.selectEnchereForm {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  color: #555;
  margin-top: 5px;
}

.inputEnchereForm {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  color: #555;
  margin-top: 5px;
}

.btnEncheresForm {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btnEncheresForm:hover {
  background-color: #0069d9;
}

.btnEncheresForm:last-child {
  margin-right: 0;
}
