.header-container {
    display: flex;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #E8E5E0;
  }
  
  .title {
    font-weight: bold;
    flex-grow: 10;
    margin: 0;
    color: #468078;
    text-decoration: none;
  }
  
  .register {
    margin-left: 1.5rem;
    margin-right: 1rem;
    font-size: 18px;
    font-weight: bold;
    color: #468078;
    list-style: none;
    text-decoration: none;
  }

  .login {
    margin-left: 1.5rem;
    margin-right: 1rem;
    font-size: 18px;
    font-weight: bold;
    color: #468078;
    list-style: none;
    text-decoration: none;
  }

  .encheresForm {
    margin-left: 1.5rem;
    margin-right: 1rem;
    font-size: 18px;
    font-weight: bold;
    color: #468078;
    list-style: none;
    text-decoration: none;
  }

  .register:hover {
    text-decoration: none;
    color: #C68642;
  }

  .login:hover {
    text-decoration: none;
    color: #C68642;
  }

  .encheresForm:hover {
    text-decoration: none;
    color: #C68642;
  }
  
  .deconnexion{
    margin-left: 1.5rem;
    margin-right: 1rem;
    font-size: 18px;
    font-weight: bold;
    color: #468078;
    list-style: none;
    text-decoration: none;
  }
  
  .deconnexion:hover {
    text-decoration: none;
    color: #C68642;
  }