.header-container {
    display: flex;
    height: 90px;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #233975;
  }
  
  .title {
    font-weight: bold;
    flex-grow: 10;
    margin: 0;
    color: #ffffff;
    text-decoration: none;
  }
  
  .register {
    margin-left: 1.5rem;
    margin-right: 1rem;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    list-style: none;
    text-decoration: none;
  }

  .login {
    margin-left: 1.5rem;
    margin-right: 1rem;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    list-style: none;
    text-decoration: none;
  }

  .encheresForm {
    margin-left: 1.5rem;
    margin-right: 1rem;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    list-style: none;
    text-decoration: none;
  }

  .register:hover {
    text-decoration: none;
    color: #ffd900;
  }

  .login:hover {
    text-decoration: none;
    color: #ffd900;
  }

  .encheresForm:hover {
    text-decoration: none;
    color: #ffd900;
  }
  
  .deconnexion{
    margin-left: 1.5rem;
    margin-right: 1rem;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    list-style: none;
    text-decoration: none;
  }
  
  .deconnexion:hover {
    text-decoration: none;
    color: #ffd900;
  }
  